.todo
  &-list
    border: 1px solid rgba(0, 0, 0, 0.125)
    margin-bottom: 0
    border-radius: 0.25rem
    padding: 15px
    overflow-y: scroll
    height: 560px
    &:last-child
      margin-bottom: 0

.task
  &__title
    font: 26px $OpenSansFont
    color: $black
    margin-bottom: 15px
    &:first-letter
      text-transform: uppercase
  &__name
    font: 18px $OpenSansFont
    color: $black
  &__priority
    font: 18px $OpenSansFont
    color: $black
  &__buttons
    margin-left: 0 !important
    margin-right: 0 !important



.description
  font: 14px $OpenSansFont
  color: $black
  display: none